# Compiled Object files
._stoned*

# Precompiled Headers

# Compiled Dynamic libraries

# Fortran module files
*.mod
*.smod

# Compiled Static libraries

# Executables
*.out

# Misc crap
*.DS_Store
*.lock

*.xcuserstate
xcuserdata/
