# Compiled Object files
._stoned*
*.slo
*.lo

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so

# Fortran module files
*.mod
*.smod

# Compiled Static libraries

# Executables
*.out

# Misc crap
*.DS_Store

*.xcuserstate
xcuserdata/
