# Compiled Object files
._stoned*
*.slo
*.lo
*.o
*.obj
*.dSYM/*
*.dSYM
/Backend/parserTests/*.csv
# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll
*.framework

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.lib
*.a

# Executables
*.exe
*.out
*.app

# Test outputs
*.diff

# Misc crap
*.DS_Store
*.swp
._*

*.xcuserstate
xcuserdata/
.vscode/
timetableFiles/
