os: osx
language: objective-c
xcode_workspace: Project.xcworkspace # path to your xcodeproj folder
osx_image: xcode9.1

branches:
  only:
    - master
    - dev
    
env:
  - LC_CTYPE=en_US.UTF-8 LANG=en_US.UTF-8

before_install:
  - rvm install ruby-2.2.2
  - gem install xcpretty -N

script:
  - set -o pipefail
  - xcodebuild -workspace WingIt.xcworkspace -scheme WingIt -sdk iphonesimulator ONLY_ACTIVE_ARCH=NO | xcpretty -c
